<!-- Add User Modal -->

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title style="margin-left: -10px; color: #94c6ce;">Sign Up</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- Username -->
      <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="username">
        </mat-form-field>
        <!-- Name -->
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="name">
        </mat-form-field>
        <!-- Surname -->
        <mat-form-field appearance="fill">
          <mat-label>Surname</mat-label>
          <input matInput [(ngModel)]="surname">
        </mat-form-field>
        <!-- Phone -->
        <mat-form-field appearance="fill">
          <mat-label>Phone</mat-label>
          <input matInput [(ngModel)]="phoneNo">
        </mat-form-field>
        <!-- Address -->
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput [(ngModel)]="address">
        </mat-form-field>
        <!-- Email Address -->
        <mat-form-field appearance="fill">
          <mat-label>Email address</mat-label>
          <input matInput [(ngModel)]="email">
        </mat-form-field>
        <!-- Postal code -->
        <mat-form-field appearance="fill">
          <mat-label>Postal code</mat-label>
          <input matInput [(ngModel)]="postalCode">
        </mat-form-field>
        <!-- Main image -->
        <mat-form-field appearance="fill">
          <mat-label>Your images URL</mat-label>
          <input matInput [(ngModel)]="pictureMain">
        </mat-form-field>
        <!-- Account nb -->
        <mat-form-field appearance="fill">
          <mat-label>Banks account number</mat-label>
          <input matInput [(ngModel)]="accountNo">
        </mat-form-field>
        <!-- Beneficiary -->
        <mat-form-field appearance="fill">
          <mat-label>Beneficiary</mat-label>
          <input matInput [(ngModel)]="beneficiary">
        </mat-form-field>
        <!-- Banks name -->
        <mat-form-field appearance="fill">
          <mat-label>Banks name</mat-label>
          <input matInput [(ngModel)]="bank">
        </mat-form-field>
        <!-- Password -->
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
              <input [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
        </mat-form-field>
        <!-- Buttons -->
        <button (click)="signUp()" mat-raised-button style="background-color: #94c6ce; color: #fff;">Save changes</button>
        <button (click)="close()" mat-raised-button style="color: rgb(151, 151, 151); margin-left: 20px;" href="main" >Close</button>
  </mat-card-content>
</mat-card>
