/* START of view media */

@media screen and (max-width: 700px) {
  .example-card {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* END of view media */

.background-main {
  background-color: rgb(211, 211, 211);
}

.background {
  background: url(/../assets/background.jpg) no-repeat;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

mat-card {
  /* FIXME: when screen becomes smaller then display the field smaller */
  margin: auto;
  /* max-width: 500px; */
  max-width: 700px;
  min-width: 360px;
  margin-top: 150px;
  padding: 32px;
  position: relative;
}

/* STRAT of Profile */

.img {
  object-fit: cover;
  height: 120px;
  width: 120px;
  display: block;
  /* margin-left: auto;
      margin-right: auto; */
  border-radius: 60px;
  position: absolute;
  margin-top: -100px;
  margin-left: 37%;
}

.picture-main {
  padding-top: -100px;
  /* background-color: aqua; */
  overflow: hidden;
}

.user-text {
  /* background-color: aqua; */
  text-align: center;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.add-services-btn {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* END of Profile */

/* START of Footer */

.footer {
  height: 100px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

/* END of Footer */

/* START of Nav Bar */

.logo-btn {
    background-color: transparent;
    border: transparent;
  }

.navbody {
  font-size: 18px;
}

.navli {
  float: left;
}

.navli a {
  display: block;
  color: rgb(135, 160, 180);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navli a:hover {
  background-color: #94c6ce;
}

.active {
  background-color: #94c6ce;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
}

#navbar-zindex {
  z-index: 99 !important;
}

.navbar:not(.scrolled) {
  background-color: rgba(255, 255, 255, 0.97);
  /* border-radius: 5px; */
  padding: 0 3rem;
}

.logo {
  /* <img src="./images/logo/logo.jpg" alt="logo" width="100"/> */
  /* background: url(./images/logo/logo.jpg) no-repeat;
        background-size: contain; */
  /* height: 100%;
        width: 100px; */
}

.profile-button {
  background-color: #94c6ce;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
  border-radius: 20px;
}

.profile-button:hover {
  background-color: #9dc0c5;
  text-decoration: none;
  color: white;
}

.navbar-search {
  border-color: transparent;
  background-color: rgb(224, 224, 224, 0.6);
  border-radius: 20px;
  text-align: center;
  color: #9dc0c5;
  margin-left: -100px;
}

/* END of Nav Bar */

/* START of displaying all pictures */

.service-picture-main {
  margin-top: 10px;
  margin-left: 5px;
  display: inline-block;
  position: relative;
}

.img-service-picture-main {
  object-fit: cover;
  height: 160px;
  width: 190px;
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.img-div-container {
    text-align: center;
}

/* END of displaying all pictures */
