<head>
  <meta charset="utf-8" />
  <meta name="author" content="WEBBER" />
  <meta
    name="keywords"
    content="vietņu izstrāde vietņu izstrāde lietojumprogrammu izveide Android un iOS mobilajām ierīcēm"
  />
  <meta
    name="description"
    content="Profesionāla vietņu izstrāde ar atsaucīgu dizainu un to atbalstu. Saprātīgas cenas. Portfelis. Atlaides vietņu izstrādei. Lietojumprogrammu izveide Android un iOS mobilajām ierīcēm"
  />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <title>Title text</title>

  <link
    rel="apple-touch-icon"
    sizes="57x57"
    href="favicon/apple-icon-57x57.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="60x60"
    href="favicon/apple-icon-60x60.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="72x72"
    href="favicon/apple-icon-72x72.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="76x76"
    href="favicon/apple-icon-76x76.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="114x114"
    href="favicon/apple-icon-114x114.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="120x120"
    href="favicon/apple-icon-120x120.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="144x144"
    href="favicon/apple-icon-144x144.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="favicon/apple-icon-152x152.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="favicon/apple-icon-180x180.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="favicon/android-icon-192x192.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="96x96"
    href="favicon/favicon-96x96.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="favicon/favicon-16x16.png"
  />
  <link rel="manifest" href="favicon/manifest.json" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
  <meta name="theme-color" content="#ffffff" />

  <script src="https://use.fontawesome.com/a8a025c69f.js"></script>

  <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css" />
  <link rel="stylesheet" type="text/css" href="css/miniline.css" />

  <link rel="stylesheet" href="css/vendor/bootstrap.min.css" />

  <link
    rel="stylesheet"
    type="text/css"
    href="css/vendor/owl.carousel.min.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="css/vendor/owl.theme.default.min.css"
  />

  <link rel="stylesheet" type="text/css" href="css/vendor/magnific-popup.css" />

  <link rel="stylesheet" type="text/css" href="css/cynic.css" />

  <link rel="stylesheet" type="text/css" href="css/cynic-responsive.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.min.css"
    integrity="sha512-YQlbvfX5C6Ym6fTUSZ9GZpyB3F92hmQAZTO5YjciedwAaGRI9ccNs4iw2QTCJiSPheUQZomZKHQtuwbHkA9lgw=="
    crossorigin="anonymous"
  />
  <link rel="stylesheet" type="text/css" href="css/custom.css" />
  <script
    type="text/javascript"
    src="http://code.jquery.com/jquery-latest.min.js"
  ></script>
  <script type="text/javascript" src="js/js-form/custom.js"></script>
  <script type="text/javascript" src="js/js-form//mask.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/0.6.1/progressbar.min.js"
    integrity="sha512-7IoDEsIJGxz/gNyJY/0LRtS45wDSvPFXGPuC7Fo4YueWMNOmWKMAllEqo2Im3pgOjeEwsOoieyliRgdkZnY0ow=="
    crossorigin="anonymous"
  ></script>

  <link rel="preconnect" href="https://fonts.gstatic.com" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</head>

<!-- Banner starts -->
<section class="banner d-flex align-items-center">
  <!-- Phones -->
  <div class="phone-wrapper-1 rotate">
    <div class="phone-1 rellax" data-rellax-speed="-17"></div>
  </div>

  <div class="phone-wrapper-2 rotate">
    <div class="phone-2 rellax" data-rellax-speed="7"></div>
  </div>

  <div class="phone-wrapper-3 rotate">
    <div class="phone-3 rellax" data-rellax-speed="-10"></div>
  </div>
  <!-- /Phones -->
  <div class="main-banner"></div>
  <div class="container">
    <div class="row no-gutters align-items-center">
      <div class="col-lg-5 text-center text-lg-left">
        <h1 class="white-text">
          Find the service <br />for your needs
        </h1>
        <p class="larger-txt white-text">
          Some text
          <br />
          Some extra text
        </p>
        <!-- FIXME: show the sign up only when user is not authorised -->
        <a
          href="#"
          class="custom-btn secondary-btn page-scroll"
          data-toggle="modal"
          data-target="#call_me_modal"
          >Sign Up</a
        >
      </div>
    </div>
  </div>
</section>

<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let user of users" class="col-md-6 col-xl-3">
      <!-- Cards with Users -->
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <!-- Image for the cards = pictureMain -->
            <!-- By using user? I'm making sure that user exists before accessing it's attributes -->
            <a href=""
              ><img
                src="{{ user?.pictureMain }}"
                alt=""
                class="img-fluid rounded-circle w-60"
            /></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{ user?.username }}</h5>
            <p class="m-0">{{ user?.name }} {{ user?.surname }}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fa fa-envelope float-right"></i>{{ user?.email }}
          </li>
          <li class="list-group-item">
            <i class="fa fa-phone float-right"></i>Phone : {{ user?.phoneNo }}
          </li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a
              (click)="onOpenModal(user, 'edit')"
              class="btn btn-primary tooltips"
              data-placement="top"
              data-original-title="Edit"
              ><i class="fa fa-pencil"></i>
            </a>
            <a
              (click)="onOpenModal(user, 'delete')"
              class="btn btn-secondary tooltips"
              data-placement="top"
              data-original-title="Delete"
              ><i class="fa fa-times"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Notification for no users -->
  <div *ngIf="users?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO USERS!</h4>
      <p>No Users were found.</p>
    </div>
  </div>
</div>
