<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Main</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

  <div *ngIf="isEnglish">

  <!-- START of Nav Bar -->

  <ul class="navbar navbody" id="navbar-zindex">
    <button
      class="logo-btn"
      onclick="window.location.href='http://localhost:4200/main';"
    >
      <img src="assets/logo.png" alt="logo" width="200" />
    </button>
    <li class="navli"></li>

    <li style="float: right">
      <!-- TODO: if user is logged in the show initials but if not show signIn and signUp buttons -->
      <a
        *ngIf="isLoggedIn"
        class="profile-button"
        href="profile"
        style="padding-left: 9px; padding-right: 9px"
        ><mat-icon style="vertical-align: text-bottom">person</mat-icon></a
      >
    </li>
  </ul>

  <!-- END of Nav Bar -->

  <!-- START of Banner -->

  <section class="banner">
    <!-- <section class="banner d-flex align-items-center"> -->

    <!-- START of Phones -->
    <div class="phone-wrapper-1 rotate">
      <div class="phone-1 rellax" data-rellax-speed="-17"></div>
    </div>

    <div class="phone-wrapper-2 rotate">
      <div class="phone-2 rellax" data-rellax-speed="7"></div>
    </div>

    <div class="phone-wrapper-3 rotate">
      <div class="phone-3 rellax" data-rellax-speed="-10"></div>
    </div>

    <!-- END of Phones -->

    <div></div>
    <div class="container">
      <div class="row no-gutters align-items-center">
        <div class="col-lg-5 text-center text-lg-left banner-text">
          <h1 class="white-text" style="padding-top: 60px">
            Find the Service <br />for your needs
          </h1>
          <p class="larger-txt white-text">
            Offer your services to customers worldwide
            <br />
            And work from anywhere in the world
          </p>
          <!-- FIXME: show the sign up only when user is not authorised -->
          <!-- FIXME: rederect to the right page doesn't work backwards!!!! -->

          <button
            *ngIf="!isLoggedIn"
            id="hide"
            onclick="window.location.href='http://localhost:4200/signUp';"
            mat-raised-button
            style="background-color: #94c6ce; color: #fff"
          >
            Sign Up
          </button>
          <button
            *ngIf="!isLoggedIn"
            id="hide"
            onclick="window.location.href='http://localhost:4200/signIn';"
            mat-raised-button
            style="background-color: #94c6ce; color: #fff; margin-left: 20px"
          >
            Sign In
          </button>
          <button
            *ngIf="isLoggedIn"
            id="hide"
            onclick="window.location.href='http://localhost:4200/addService';"
            mat-raised-button
            style="background-color: #94c6ce; color: #fff;"
          >
            Add Service
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- END of Banner -->

  <!-- START of Services -->

  <div id="service-zindex" class="service">
    <!-- START of Search/Filter -->

    <div class="service-search">
      <mat-card class="example-card">
        <mat-tab-group dynamicHeight>
          <mat-tab label="All">
            <div class="service-div-container">
              


              <div *ngFor="let service of services" class="service-div-child-container">
                <button
                  mat-raised-button
                  class="example-large-box mat-elevation-z4 service-button"
                  (click)="goToService(service.serviceId)"
                >
                  <div style="position: relative">
                    <div class="child service-title">
                      <p>{{service?.title}}</p>
                      <br />
                    </div>
                    <div class="child service-username">
                      <p>{{service?.user?.username}}</p>
                    </div>
                    <div class="child service-picture-main" *ngFor="let picture of service?.pictures | slice:0:1;">
                      <img
                        src={{picture.picture}}
                        alt="servicePicture"
                        class="img-service-picture-main"
                      />
                    </div>
                    <div class="picture-main child">
                      <img
                        src={{service?.user?.pictureMain}}
                        alt="pictureMain"
                        class="img"
                      />
                    </div>
                  </div>
                </button>
              </div>



            </div>
          </mat-tab>
          <mat-tab label="Programming">



            <div *ngFor="let service of services" class="service-div-child-container">
              <button
                mat-raised-button
                class="example-large-box mat-elevation-z4 service-button"
                (click)="goToService(service.serviceId)"
              >
                <div style="position: relative">
                  <div class="child service-title">
                    <p>{{service?.title}}</p>
                    <br />
                  </div>
                  <div class="child service-username">
                    <p>{{service?.user?.username}}</p>
                  </div>
                  <div class="child service-picture-main" *ngFor="let picture of service?.pictures | slice:0:1;">
                    <img
                      src={{picture.picture}}
                      alt="servicePicture"
                      class="img-service-picture-main"
                    />
                  </div>
                  <div class="picture-main child">
                    <img
                      src={{service?.user?.pictureMain}}
                      alt="pictureMain"
                      class="img"
                    />
                  </div>
                </div>
              </button>
            </div>



          </mat-tab>
          <mat-tab label="Design">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Graphics">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Music">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Video">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Education">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Translation">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Writing">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Lifestyle">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Health">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Business">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
        </mat-tab-group>
      </mat-card>

      <!-- TODO: add filtering as ||| at the end -->
    </div>

    <!-- END of Search/Filter -->

    <!-- START of Service Display -->

    <div></div>

    <!-- END of Service Display -->
  </div>

  <!-- END of Services -->

  <div class="footer">

    <button (click)="changeLanguage()" mat-raised-button style="position: absolute; margin-top: 30px; margin-left: 30px; color: #b2b2b2;">Change Language</button>
    <div>
      <p style="color: #aaaaaa; text-align-last: center; font-size: 13px">
        <br />Contact info:<br />+371 22334455<br />sellyouridea@gmail.com
      </p>
    </div>
  </div>

  </div>

  <!-- ====================Language change==================== -->

  <div *ngIf="!isEnglish">

    <!-- START of Nav Bar -->
  
    <ul class="navbar navbody" id="navbar-zindex">
      <button
        class="logo-btn"
        onclick="window.location.href='http://localhost:4200/main';"
      >
        <img src="assets/logo.png" alt="logo" width="200" />
      </button>
      <li class="navli"></li>
  
      <li style="float: right">
        <!-- TODO: if user is logged in the show initials but if not show signIn and signUp buttons -->
        <a
          *ngIf="isLoggedIn"
          class="profile-button"
          href="profile"
          style="padding-left: 9px; padding-right: 9px"
          ><mat-icon style="vertical-align: text-bottom">person</mat-icon></a
        >
      </li>
    </ul>
  
    <!-- END of Nav Bar -->
  
    <!-- START of Banner -->
  
    <section class="banner">
      <!-- <section class="banner d-flex align-items-center"> -->
  
      <!-- START of Phones -->
      <div class="phone-wrapper-1 rotate">
        <div class="phone-1 rellax" data-rellax-speed="-17"></div>
      </div>
  
      <div class="phone-wrapper-2 rotate">
        <div class="phone-2 rellax" data-rellax-speed="7"></div>
      </div>
  
      <div class="phone-wrapper-3 rotate">
        <div class="phone-3 rellax" data-rellax-speed="-10"></div>
      </div>
  
      <!-- END of Phones -->
  
      <div></div>
      <div class="container">
        <div class="row no-gutters align-items-center">
          <div class="col-lg-5 text-center text-lg-left banner-text">
            <h1 class="white-text" style="padding-top: 60px">
              Atrodi pakalpojumu, <br />Kas Tev ir nepieciešams
            </h1>
            <p class="larger-txt white-text">
              Piedāvā savus pakalpojumus visur pasaulē
              <br />
              Un nopelni, lai arī kur tu atrastos
            </p>
            <!-- FIXME: show the sign up only when user is not authorised -->
            <!-- FIXME: rederect to the right page doesn't work backwards!!!! -->
  
            <button
              *ngIf="!isLoggedIn"
              id="hide"
              onclick="window.location.href='http://localhost:4200/signUp';"
              mat-raised-button
              style="background-color: #94c6ce; color: #fff"
            >
              Pierakstīties
            </button>
            <button
              *ngIf="!isLoggedIn"
              id="hide"
              onclick="window.location.href='http://localhost:4200/signIn';"
              mat-raised-button
              style="background-color: #94c6ce; color: #fff; margin-left: 20px"
            >
              Ielogoties
            </button>
            <button
              *ngIf="isLoggedIn"
              id="hide"
              onclick="window.location.href='http://localhost:4200/addService';"
              mat-raised-button
              style="background-color: #94c6ce; color: #fff;"
            >
              Pievienot pakalpojumu
            </button>
          </div>
        </div>
      </div>
    </section>
  
    <!-- END of Banner -->
  
    <!-- START of Services -->
  
    <div id="service-zindex" class="service">
      <!-- START of Search/Filter -->
  
      <div class="service-search">
        <mat-card class="example-card">
          <mat-tab-group dynamicHeight>
            <mat-tab label="Visi">
              <div class="service-div-container">
                
  
  
                <div *ngFor="let service of services" class="service-div-child-container">
                  <button
                    mat-raised-button
                    class="example-large-box mat-elevation-z4 service-button"
                    (click)="goToService(service.serviceId)"
                  >
                    <div style="position: relative">
                      <div class="child service-title">
                        <p>{{service?.title}}</p>
                        <br />
                      </div>
                      <div class="child service-username">
                        <p>{{service?.user?.username}}</p>
                      </div>
                      <div class="child service-picture-main" *ngFor="let picture of service?.pictures | slice:0:1;">
                        <img
                          src={{picture.picture}}
                          alt="servicePicture"
                          class="img-service-picture-main"
                        />
                      </div>
                      <div class="picture-main child">
                        <img
                          src={{service?.user?.pictureMain}}
                          alt="pictureMain"
                          class="img"
                        />
                      </div>
                    </div>
                  </button>
                </div>
  
  
  
              </div>
            </mat-tab>
            <mat-tab label="Programmēšana">
  
  
  
              <div *ngFor="let service of services" class="service-div-child-container">
                <button
                  mat-raised-button
                  class="example-large-box mat-elevation-z4 service-button"
                  (click)="goToService(service.serviceId)"
                >
                  <div style="position: relative">
                    <div class="child service-title">
                      <p>{{service?.title}}</p>
                      <br />
                    </div>
                    <div class="child service-username">
                      <p>{{service?.user?.username}}</p>
                    </div>
                    <div class="child service-picture-main" *ngFor="let picture of service?.pictures | slice:0:1;">
                      <img
                        src={{picture.picture}}
                        alt="servicePicture"
                        class="img-service-picture-main"
                      />
                    </div>
                    <div class="picture-main child">
                      <img
                        src={{service?.user?.pictureMain}}
                        alt="pictureMain"
                        class="img"
                      />
                    </div>
                  </div>
                </button>
              </div>
  
  
  
            </mat-tab>
            <mat-tab label="Dizains">
              <div class="example-large-box mat-elevation-z4">Large content</div>
            </mat-tab>
            <mat-tab label="Grafika">
              <div class="example-large-box mat-elevation-z4">Large content</div>
            </mat-tab>
            <mat-tab label="Mūzika">
              <div class="example-large-box mat-elevation-z4">Large content</div>
            </mat-tab>
            <mat-tab label="Video">
              <div class="example-large-box mat-elevation-z4">Large content</div>
            </mat-tab>
            <mat-tab label="Izglītība">
              <div class="example-large-box mat-elevation-z4">Large content</div>
            </mat-tab>
            <mat-tab label="Tulkojumi">
              <div class="example-large-box mat-elevation-z4">Large content</div>
            </mat-tab>
            <mat-tab label="Sacerējumi">
              <div class="example-large-box mat-elevation-z4">Large content</div>
            </mat-tab>
            <mat-tab label="Dzīvesveids">
              <div class="example-large-box mat-elevation-z4">Large content</div>
            </mat-tab>
            <mat-tab label="Veselība">
              <div class="example-large-box mat-elevation-z4">Large content</div>
            </mat-tab>
            <mat-tab label="Bizness">
              <div class="example-large-box mat-elevation-z4">Large content</div>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
  
        <!-- TODO: add filtering as ||| at the end -->
      </div>
  
      <!-- END of Search/Filter -->
  
      <!-- START of Service Display -->
  
      <div></div>
  
      <!-- END of Service Display -->
    </div>
  
    <!-- END of Services -->
  
    <div class="footer">
      <button (click)="changeLanguage()" mat-raised-button style="position: absolute; margin-top: 30px; margin-left: 30px; color: #b2b2b2;">Mainīt valodu</button>
    
      <div>
        <p style="color: #aaaaaa; text-align-last: center; font-size: 13px">
          <br />Kontaktinformācija:<br />+371 22334455<br />sellyouridea@gmail.com
        </p>
      </div>
    </div>
  
  </div>

</body>
</html>
