<head>
  <meta charset="utf-8" />
  <title>Title text</title>

  <script src="https://use.fontawesome.com/a8a025c69f.js"></script>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.min.css"
    integrity="sha512-YQlbvfX5C6Ym6fTUSZ9GZpyB3F92hmQAZTO5YjciedwAaGRI9ccNs4iw2QTCJiSPheUQZomZKHQtuwbHkA9lgw=="
    crossorigin="anonymous"
  />

  <script
    type="text/javascript"
    src="http://code.jquery.com/jquery-latest.min.js"
  ></script>
  <script type="text/javascript" src="js/js-form/custom.js"></script>
  <script type="text/javascript" src="js/js-form//mask.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/0.6.1/progressbar.min.js"
    integrity="sha512-7IoDEsIJGxz/gNyJY/0LRtS45wDSvPFXGPuC7Fo4YueWMNOmWKMAllEqo2Im3pgOjeEwsOoieyliRgdkZnY0ow=="
    crossorigin="anonymous"
  ></script>

  <link rel="preconnect" href="https://fonts.gstatic.com" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
</head>
<body>
  <!-- START of Nav Bar -->

  <ul class="navbar navbody" id="navbar-zindex">
    <button
      class="logo-btn"
      onclick="window.location.href='http://localhost:4200/main';"
    >
      <img src="assets/logo.png" alt="logo" width="200" />
    </button>
    <li class="navli"></li>

    <li style="float: right">
      <!-- TODO: if user is logged in the show initials but if not show signIn and signUp buttons -->
      <a
        class="profile-button"
        href="profile"
        style="padding-left: 9px; padding-right: 9px"
        ><mat-icon style="vertical-align: text-bottom">person</mat-icon></a
      >
    </li>
  </ul>

  <!-- END of Nav Bar -->

  <!-- START of Banner -->

  <section class="banner">
    <!-- <section class="banner d-flex align-items-center"> -->

    <!-- START of Phones -->
    <div class="phone-wrapper-1 rotate">
      <div class="phone-1 rellax" data-rellax-speed="-17"></div>
    </div>

    <div class="phone-wrapper-2 rotate">
      <div class="phone-2 rellax" data-rellax-speed="7"></div>
    </div>

    <div class="phone-wrapper-3 rotate">
      <div class="phone-3 rellax" data-rellax-speed="-10"></div>
    </div>

    <!-- END of Phones -->

    <div></div>
    <div class="container">
      <div class="row no-gutters align-items-center">
        <div class="col-lg-5 text-center text-lg-left banner-text">
          <h1 class="white-text" style="padding-top: 60px">
            Find the Service <br />for your needs
          </h1>
          <p class="larger-txt white-text">
            Offer your services to customers worldwide
            <br />
            And work from anywhere in the world
          </p>
          <!-- FIXME: show the sign up only when user is not authorised -->
          <!-- FIXME: rederect to the right page doesn't work backwards!!!! -->

          <button
            id="hide"
            onclick="window.location.href='http://localhost:4200/signUp';"
            mat-raised-button
            style="background-color: #94c6ce; color: #fff"
          >
            Sign Up
          </button>
          <button
            id="hide"
            onclick="window.location.href='http://localhost:4200/signIn';"
            mat-raised-button
            style="background-color: #94c6ce; color: #fff; margin-left: 20px"
          >
            Sign In
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- END of Banner -->

  <!-- START of Services -->

  <div id="service-zindex" class="service">
    <!-- START of Search/Filter -->

    <div class="service-search">
      <mat-card class="example-card">
        <mat-tab-group dynamicHeight>
          <mat-tab label="All">
            <div class="service-div-container">
              <!-- FIXME: add path to {{id}} http://localhost:4200/ServiceView{ServiceId}-->



              <!-- <div class="service-div-child-container">
                <button
                  mat-raised-button
                  class="example-large-box mat-elevation-z4 service-button"
                  onclick="window.location.href='http://localhost:4200/serviceView';"
                >
                  <div style="position: relative">
                    <div class="child service-title">
                      <p>Title</p>
                      <br />
                    </div>
                    <div class="child service-username">
                      <p>Username</p>
                    </div>
                    <div class="child service-picture-main">
                      <img
                        src="/../assets/servicePictureMainTEST.png"
                        alt="servicePicture"
                        class="img-service-picture-main"
                      />
                    </div>
                    <div class="picture-main child">
                      <img
                        src="/../assets/pictureMain1.PNG"
                        alt="pictureMain"
                        class="img"
                      />
                    </div>
                  </div>
                </button>
              </div> -->



              <div *ngFor="let service of services" class="service-div-child-container">
                <button
                  mat-raised-button
                  class="example-large-box mat-elevation-z4 service-button"
                  onclick="window.location.href='http://localhost:4200/serviceView';"
                >
                  <div style="position: relative">
                    <div class="child service-title">
                      <p>{{service?.title}}</p>
                      <br />
                    </div>
                    <div class="child service-username">
                      <p>{{service?.user?.username}}</p>
                    </div>
                    <div class="child service-picture-main" *ngFor="let picture of service?.pictures | slice:0:1;">
                      <img
                        src={{picture.picture}}
                        alt="servicePicture"
                        class="img-service-picture-main"
                      />
                    </div>
                    <!-- <div class="child service-picture-main">
                      <img
                        src={{service?.user?.pictureMain}}
                        alt="servicePicture"
                        class="img-service-picture-main"
                      />
                    </div> -->
                    <div class="picture-main child">
                      <img
                        src={{service?.user?.pictureMain}}
                        alt="pictureMain"
                        class="img"
                      />
                    </div>
                  </div>
                </button>
              </div>



            </div>
          </mat-tab>
          <mat-tab label="Programming">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Design">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Graphics">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Music">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Video">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Education">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Translation">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Writing">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Lifestyle">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Health">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
          <mat-tab label="Business">
            <div class="example-large-box mat-elevation-z4">Large content</div>
          </mat-tab>
        </mat-tab-group>
      </mat-card>

      <!-- TODO: add filtering as ||| at the end -->
    </div>

    <!-- END of Search/Filter -->

    <!-- START of Service Display -->

    <div></div>

    <!-- END of Service Display -->
  </div>

  <!-- END of Services -->

  <div class="footer">
    <div>
      <p style="color: #aaaaaa; text-align-last: center; font-size: 13px">
        <br />Contact info:<br />+371 22334455<br />sellyouridea@gmail.com
      </p>
    </div>
  </div>

  <!-- jQuery -->
  <script src="js/vendor/jquery-3.3.1.min.js"></script>
  <script src="js/vendor/jquery-migrate.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/vendor/bootstrap.bundle.min.js"></script>
  <!-- jQuery Easing Plugin -->
  <script src="js/vendor/easing-1.3.js"></script>
  <!-- jQuery progressbar plugin -->
  <script src="js/vendor/jquery.waypoints.min.js"></script>
  <script src="js/vendor/jquery.counterup.min.js"></script>
  <!-- ImagesLoaded js -->
  <script src="js/vendor/imagesloaded.pkgd.min.js"></script>
  <!-- Owl carousel js -->
  <script src="js/vendor/owl.carousel.min.js"></script>
  <!-- Magnific popup -->
  <script src="js/vendor/jquery.magnific-popup.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

  <script src="https://smtpjs.com/v3/smtp.js"></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"
    integrity="sha512-f5HTYZYTDZelxS7LEQYv8ppMHTZ6JJWglzeQmr0CVTS70vJgaJiIO15ALqI7bhsracojbXkezUIL+35UXwwGrQ=="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/glide.min.js"
    integrity="sha512-IkLiryZhI6G4pnA3bBZzYCT9Ewk87U4DGEOz+TnRD3MrKqaUitt+ssHgn2X/sxoM7FxCP/ROUp6wcxjH/GcI5Q=="
    crossorigin="anonymous"
  ></script>

  <!-- Custom js -->
  <script src="js/main.js"></script>

  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</body>
