<div class="main-background main-background-fade">
  <!-- START of Nav Bar -->

  <ul class="navbar navbody" id="navbar-zindex">
    <button class="logo-btn" onclick="window.location.href='http://localhost:4200/main';">
      <img src="assets/logo.png" alt="logo" width="200" /></button>
  </ul>

  <!-- END of Nav Bar -->

  <main>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title style="margin-left: -10px; color: #94c6ce"
          >Sign In</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="username" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            [(ngModel)]="password"
            matInput
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <button
          (click)="signIn()"
          mat-raised-button
          style="background-color: #94c6ce; color: #fff"
        >
          Sign In
        </button>
      </mat-card-content>
    </mat-card>
  </main>

</div>
<div class="footer">
  <div>
    <p style="color: #aaaaaa; text-align-last: center; font-size: 13px;"><br>Contact info:<br>+371 22334455<br>sellyouridea@gmail.com</p>
  </div>
</div>
