<div class="main-background main-background-fade">

    <!-- START of Nav Bar -->
    
    <ul class="navbar navbody" id="navbar-zindex">
        <img src="assets/logo.png" alt="logo" width="170" href="main"/>
        <li style="float: right">
            <!-- TODO: if user is logged in the show initials but if not show signIn and signUp buttons -->
            <a class="profile-button" href="profile">ZJ</a>
        </li>
    </ul>
    
    <!-- END of Nav Bar -->
    
    <main style="padding-bottom: 150px;">
  
  <!-- Add User Modal -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title style="margin-left: -15px; color: #94c6ce;">Add Service</mat-card-title>
    </mat-card-header>
        <!-- FIXME: all have to be filled -->
        <ng-template matStepLabel>Service</ng-template>

        <!-- Title -->
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput required>
        </mat-form-field>

        <!-- Description -->
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput required placeholder="I'm providing a service for..."></textarea>
        </mat-form-field>

        <!-- Theme (right now it's an array but could make it into a sting and afterwards search thrrough the string) -->
        <mat-form-field class="example-chip-list">
            <mat-label>Service Theme</mat-label>
            <mat-chip-list #chipList aria-label="Service selection">
              <mat-chip
                *ngFor="let service of services"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(service)">
                {{service}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Add New Service Theme..."
                #serviceInput
                [formControl]="serviceCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let service of filteredServices | async" [value]="service">
                {{service}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <!-- Insert img -->

          <!-- TODO: add 3 img imports -->

          <!-- End insert img -->

          <mat-tab-group mat-align-tabs="center">
            <!-- Listed as 1 (new instance) -->
            <mat-tab label="First">
              <!-- Price -->
              <mat-form-field style="margin-top: 20px;">
                <mat-label>List length</mat-label>
                <input matInput [(ngModel)]="length" type="number" required>
              </mat-form-field>
              <!-- Time -->
              <mat-form-field>
                <mat-label>Time</mat-label>
                <input matInput required>
              </mat-form-field>
              <!-- Info (is an arrray (in the serviceView have to show each under one another)) -->
              <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput required placeholder="Description about specific type..."></textarea>
              </mat-form-field>
            </mat-tab>
            <!-- Listed as 2 (new instance) -->
            <mat-tab label="Second">
              <!-- Price -->
              <mat-form-field style="margin-top: 20px;">
                <mat-label>List length</mat-label>
                <input matInput [(ngModel)]="length" type="number" required>
              </mat-form-field>
              <!-- Time -->
              <mat-form-field>
                <mat-label>Time</mat-label>
                <input matInput required>
              </mat-form-field>
              <!-- Info (is an arrray (in the serviceView have to show each under one another)) -->
              <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput required placeholder="Description about specific type..."></textarea>
              </mat-form-field>
            </mat-tab>
            <!-- Listed as 3 (new instance) -->
            <mat-tab label="Third">
              <!-- Price -->
              <mat-form-field style="margin-top: 20px;">
                <mat-label>List length</mat-label>
                <input matInput [(ngModel)]="length" type="number" required>
              </mat-form-field>
              <!-- Time -->
              <mat-form-field>
                <mat-label>Time</mat-label>
                <input matInput required>
              </mat-form-field>
              <!-- Info (is an arrray (in the serviceView have to show each under one another)) -->
              <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput required placeholder="Description about specific type..."></textarea>
              </mat-form-field>
            </mat-tab>
          </mat-tab-group>


        <div>
          <button mat-raised-button style="background-color: #94c6ce; color: #fff;">Save</button>
        </div>

  </mat-card>
  
  </main>
  </div>
  
  <div class="footer">
  
  </div>