<div class="background-main">
  <div class="background">
    <!-- START of Nav Bar -->

    <ul class="navbar navbody" id="navbar-zindex">
      <img src="assets/logo.png" alt="logo" width="170" href="main" />
      <li style="float: right">
        <!-- TODO: if user is logged in the show initials but if not show signIn and signUp buttons -->
        <a class="profile-button" href="profile">ZJ</a>
      </li>
    </ul>

    <!-- END of Nav Bar -->

    <!-- START of Profile -->

    <div>
      <mat-card class="example-card">
        <div class="picture-main">
          <img
            src="/../assets/pictureMain1.PNG"
            alt="pictureMain"
            class="img"
          />
        </div>
        <div>
          <p
            class="user-text"
            style="color: #aaaaaa; margin-top: 45px; margin-bottom: -5px"
          >
            Username
          </p>
          <p
            class="user-text"
            style="color: #94c6ce; text-decoration: solid; font-size: 25px"
          >
            Zane Jansone
          </p>
        </div>
        <div>
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel (opened)="setStep(0)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> Personal data </mat-panel-title>
                <mat-panel-description>
                  Email - Phone - Picture
                  <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <!-- Insert email from DB -->
              <mat-form-field>
                <mat-label>zane@gmail.com</mat-label>
                <input matInput />
              </mat-form-field>

              <!-- Insert phone from DB -->
              <mat-form-field>
                <mat-label>22334499</mat-label>
                <input matInput />
              </mat-form-field>

              <!-- Insert picture from DB -->
              <mat-form-field>
                <mat-label>URL</mat-label>
                <input matInput />
              </mat-form-field>

              <mat-action-row>
                <button
                  mat-button
                  color="primary"
                  (click)="nextStep()"
                  (click)="saveEmailPhoneURL()"
                  mat-raised-button
                  style="background-color: #94c6ce; color: #fff"
                >
                  Save New Changes
                </button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel
              [expanded]="step === 1"
              (opened)="setStep(1)"
              hideToggle
            >
              <mat-expansion-panel-header>
                <mat-panel-title> Location </mat-panel-title>
                <mat-panel-description>
                  Address - Postal Code
                  <mat-icon>map</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <!-- Insert address from DB -->
              <mat-form-field>
                <mat-label>Riga, Street 1</mat-label>
                <input matInput />
              </mat-form-field>

              <!-- Insert post code from DB -->
              <mat-form-field>
                <mat-label>LV1111</mat-label>
                <input matInput />
              </mat-form-field>

              <mat-action-row>
                <button
                  mat-button
                  color="primary"
                  (click)="nextStep()"
                  (click)="saveAddressPostCode()"
                  mat-raised-button
                  style="background-color: #94c6ce; color: #fff"
                >
                  Save New Changes
                </button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel
              [expanded]="step === 2"
              (opened)="setStep(2)"
              hideToggle
            >
              <mat-expansion-panel-header>
                <mat-panel-title> Billing data </mat-panel-title>
                <mat-panel-description>
                  Account Number - Beneficiary - Bank
                  <mat-icon>monetization_on</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <!-- Insert banks account no from DB -->
              <mat-form-field>
                <mat-label>1234FDS2131231</mat-label>
                <input matInput />
              </mat-form-field>

              <!-- Insert beneficiary from DB -->
              <mat-form-field>
                <mat-label>Zane Jansone</mat-label>
                <input matInput />
              </mat-form-field>

              <!-- Insert bank from DB -->
              <mat-form-field>
                <mat-label>Swedbank</mat-label>
                <input matInput />
              </mat-form-field>

              <mat-action-row>
                <button
                  mat-button
                  color="primary"
                  (click)="nextStep()"
                  (click)="saveBanksInfo()"
                  mat-raised-button
                  style="background-color: #94c6ce; color: #fff"
                >
                  Save New Changes
                </button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel
              [expanded]="step === 3"
              (opened)="setStep(3)"
              hideToggle
            >
              <mat-expansion-panel-header>
                <mat-panel-title> Password </mat-panel-title>
                <mat-panel-description>
                  Change Password
                  <mat-icon>dialpad</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <!-- Check if the old passwor is correct -->
              <mat-form-field class="example-user-input">
                <mat-label>Current Password</mat-label>
                <input matInput />
                <!-- TODO: can add coments about requirements -->
                <mat-hint></mat-hint>
              </mat-form-field>

              <!-- Change to new password -->
              <mat-form-field class="example-user-input">
                <mat-label>New Password</mat-label>
                <input matInput />
                <!-- TODO: can add coments about requirements -->
                <mat-hint></mat-hint>
              </mat-form-field>

              <mat-action-row>
                <button
                  (click)="nextStep()"
                  (click)="savePassword()"
                  mat-raised-button
                  style="background-color: #94c6ce; color: #fff"
                >
                  Save Password
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div>
          <p
            class="user-text"
            style="color: #aaaaaa; margin-top: 30px; font-size: 20px"
          >
            Services
          </p>
          <div class="add-services-btn">
            <!-- TODO: on button click move to add service -->
            <button
              (click)="addService()"
              mat-raised-button
              style="background-color: #ffffff; color: rgb(170, 170, 170)"
            >
              Add Service
            </button>
          </div>
        </div>
      </mat-card>
    </div>

    <!-- END of Profile -->
  </div>
</div>

<div class="footer"></div>

<!-- 
<div
class="modal fade"
id="deleteUserModal"
tabindex="-1"
role="dialog"
aria-labelledby="deleteModelLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="deleteModelLabel">Delete User</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete user {{ deleteUser?.name }}?</p>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          No
        </button>
        <button
          (click)="onDeleteEmloyee(deleteUser?.id)"
          class="btn btn-danger"
          data-dismiss="modal"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
</div>
</div> -->
