<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Profile All See</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

<div *ngIf="isEnglish">
  <div class="background-main">
    <div class="background">
      <!-- START of Nav Bar -->

      <ul class="navbar navbody" id="navbar-zindex">
        <button
          class="logo-btn"
          onclick="window.location.href='http://localhost:4200/main';"
        >
          <img src="assets/logo.png" alt="logo" width="200" />
        </button>
        <li style="float: right">
          <a class="profile-button" href="profile" *ngIf="isLoggedIn"
            ><mat-icon style="vertical-align: text-bottom">person</mat-icon></a
          >
        </li>
      </ul>

      <!-- END of Nav Bar -->

      <!-- START of Profile -->

      <div>
        <mat-card class="example-card">
          <div class="picture-main">
            <img
              src="/../assets/pictureMain1.PNG"
              alt="pictureMain"
              class="img"
            />
          </div>
          <div>
            <p
              class="user-text"
              style="color: #aaaaaa; margin-top: 45px; margin-bottom: -5px"
            >
              Username
            </p>
            <p
              class="user-text"
              style="color: #94c6ce; text-decoration: solid; font-size: 25px"
            >
              Zane Jansone
            </p>
          </div>
          <div></div>

          <div>
            <p
              class="user-text"
              style="color: #aaaaaa; margin-top: 30px; font-size: 20px"
            >
              Services
            </p>
            <div></div>
          </div>

          <div class="service-div-container">
            <div
              *ngFor="let service of services"
              class="service-div-child-container-profile"
            >
              <button
                mat-raised-button
                class="
                  example-large-box-profile
                  mat-elevation-z4
                  service-button-profile
                "
                onclick="window.location.href='http://localhost:4200/serviceView';"
              >
                <div style="position: relative">
                  <div class="child-profile service-title-profile">
                    <p>{{ service?.title }}</p>
                    <br />
                  </div>
                  <div class="child-profile service-username-profile">
                    <p>{{ service?.user?.username }}</p>
                  </div>
                  <div
                    class="child-profile service-picture-main-profile"
                    *ngFor="let picture of service?.pictures | slice: 0:1"
                  >
                    <img
                      src="{{ picture.picture }}"
                      alt="servicePicture"
                      class="img-service-picture-main-profile"
                    />
                  </div>
                  <div class="picture-main-profile child-profile">
                    <img
                      src="{{ service?.user?.pictureMain }}"
                      alt="pictureMain"
                      class="img-service-profile"
                    />
                  </div>
                </div>
              </button>
            </div>
          </div>
        </mat-card>
      </div>

      <!-- END of Profile -->

      <div class="footer" style="margin-top: 100px">
        <button
          (click)="changeLanguage()"
          mat-raised-button
          style="
            position: absolute;
            margin-top: 30px;
            margin-left: 30px;
            color: #b2b2b2;
          "
        >
          Change language
        </button>

        <div>
          <p style="color: #aaaaaa; text-align-last: center; font-size: 13px">
            <br />Contact info:<br />+371 22334455<br />sellyouridea@gmail.com
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- =====================Change language======================= -->

<div *ngIf="!isEnglish">
  <div class="background-main">
    <div class="background">
      <!-- START of Nav Bar -->

      <ul class="navbar navbody" id="navbar-zindex">
        <button
          class="logo-btn"
          onclick="window.location.href='http://localhost:4200/main';"
        >
          <img src="assets/logo.png" alt="logo" width="200" />
        </button>
        <li style="float: right">
          <a class="profile-button" href="profile" *ngIf="isLoggedIn"
            ><mat-icon style="vertical-align: text-bottom">person</mat-icon></a
          >
        </li>
      </ul>

      <!-- END of Nav Bar -->

      <!-- START of Profile -->

      <div>
        <mat-card class="example-card">
          <div class="picture-main">
            <img
              src="/../assets/pictureMain1.PNG"
              alt="pictureMain"
              class="img"
            />
          </div>
          <div>
            <p
              class="user-text"
              style="color: #aaaaaa; margin-top: 45px; margin-bottom: -5px"
            >
              Username
            </p>
            <p
              class="user-text"
              style="color: #94c6ce; text-decoration: solid; font-size: 25px"
            >
              Zane Jansone
            </p>
          </div>
          <div></div>

          <div>
            <p
              class="user-text"
              style="color: #aaaaaa; margin-top: 30px; font-size: 20px"
            >
              Pakalpojumi
            </p>
            <div></div>
          </div>

          <div class="service-div-container">
            <div
              *ngFor="let service of services"
              class="service-div-child-container-profile"
            >
              <button
                mat-raised-button
                class="
                  example-large-box-profile
                  mat-elevation-z4
                  service-button-profile
                "
                onclick="window.location.href='http://localhost:4200/serviceView';"
              >
                <div style="position: relative">
                  <div class="child-profile service-title-profile">
                    <p>{{ service?.title }}</p>
                    <br />
                  </div>
                  <div class="child-profile service-username-profile">
                    <p>{{ service?.user?.username }}</p>
                  </div>
                  <div
                    class="child-profile service-picture-main-profile"
                    *ngFor="let picture of service?.pictures | slice: 0:1"
                  >
                    <img
                      src="{{ picture.picture }}"
                      alt="servicePicture"
                      class="img-service-picture-main-profile"
                    />
                  </div>
                  <div class="picture-main-profile child-profile">
                    <img
                      src="{{ service?.user?.pictureMain }}"
                      alt="pictureMain"
                      class="img-service-profile"
                    />
                  </div>
                </div>
              </button>
            </div>
          </div>
        </mat-card>
      </div>

      <!-- END of Profile -->

      <div class="footer" style="margin-top: 100px">
        <button
          (click)="changeLanguage()"
          mat-raised-button
          style="
            position: absolute;
            margin-top: 30px;
            margin-left: 30px;
            color: #b2b2b2;
          "
        >
          Mainīt valodu
        </button>

        <div>
          <p style="color: #aaaaaa; text-align-last: center; font-size: 13px">
            <br />Kontaktinformācija:<br />+371 22334455<br />sellyouridea@gmail.com
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>