<div class="background-main">
  <div class="background">
    <!-- START of Nav Bar -->

    <ul class="navbar navbody" id="navbar-zindex">
      <button class="logo-btn" onclick="window.location.href='http://localhost:4200/main';">
        <img src="assets/logo.png" alt="logo" width="200" /></button>
      <li style="float: right">
        <!-- TODO: if user is logged in the show initials but if not show signIn and signUp buttons -->
        <a class="profile-button" href="profile"><mat-icon style="vertical-align: text-bottom;">person</mat-icon></a>
      </li>
    </ul>

    <!-- END of Nav Bar -->

    <!-- START of Profile -->

    <div>
      <mat-card class="example-card">
        <div class="picture-main">
          <img
            src="/../assets/pictureMain1.PNG"
            alt="pictureMain"
            class="img"
          />
        </div>
        <div>
          <p
            class="user-text"
            style="color: #aaaaaa; margin-top: 45px; margin-bottom: -5px"
          >
            Username
          </p>
          <p
            class="user-text"
            style="color: #94c6ce; text-decoration: solid; font-size: 25px"
          >
            Zane Jansone
          </p>
        </div>
        <div></div>

        <div>
          <p
            class="user-text"
            style="color: #aaaaaa; margin-top: 30px; font-size: 20px"
          >
            Services
          </p>
          <div></div>
        </div>
      </mat-card>
    </div>

    <!-- END of Profile -->

    <div class="footer" style="margin-top: 100px">
      <div>
        <p style="color: #aaaaaa; text-align-last: center; font-size: 13px;"><br>Contact info:<br>+371 22334455<br>sellyouridea@gmail.com</p>
      </div>
    </div>
  </div>
</div>

